@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="text-left">
  <p>
    <strong>Request:</strong><br>
    <pre><code>@Model.RequestMsg</code></pre>
  </p>
  <hr>
  <p>
    <strong>Response:</strong><br>
    <pre><code>@Model.ResponseMsg</code></pre>
    <br>
    <strong>Response Content:</strong><br>
    <pre><code>@Model.ResponseContent</code></pre>
  </p>
</div>
