@page
@model IndexModel
@{
ViewData["Title"] = "Home page";
}

<div class="text-center">
  <p>
    <strong>Request:</strong><br>
    <code>@Model.RequestMsg</code>
  </p>
  <hr>
  <p>
    <strong>Response:</strong><br>
    <code>@Model.ResponseMsg</code>
  </p>
</div>
